.dry-ux-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1050;
    border-radius: 10px;
}

.dry-ux-overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 767px) {
    .dry-ux-overlay-content {
        width: 90%;
    }
}