.dry-ux-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1050;
    border-radius: 10px;
}

.dry-ux-overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.dry-ux-modal {
    opacity: 1!important;
}

.dry-ux-modal.default-styles .modal-dialog {
    max-width: 95%!important;
    margin: 2.5vh auto!important;
    transform: unset!important;
}

.dry-ux-modal.default-styles .modal-dialog .modal-header {
    display: block!important;
}

.dry-ux-modal.default-styles .modal-dialog .modal-title {
    margin-top: 0!important;
}

.dry-ux-modal.default-styles .modal-dialog .modal-content {
  max-height: 95vh!important;
  overflow: hidden!important;
}

.dry-ux-modal.default-styles .modal-dialog .modal-body {
  max-height: 90vh!important;
  overflow: auto!important;
}

.dry-ux-modal.default-styles .modal-dialog .modal-footer {
  border: 0!important;
}

.dry-ux-modal.centered .modal-dialog {
    margin-top: unset!important;
    position: absolute!important;
    transform: translate(-50%, -50%)!important;
    top: 50%!important;
    left: 50%!important;
}

@media only screen and (max-width: 767px) {
    .dry-ux-overlay-content {
        width: 90%;
    }
}